spring:
  datasource:
    url: jdbc:oracle:thin:@localhost:1521:XE
    username: localadmin
    password: localadmin
    driver-class-name: oracle.jdbc.OracleDriver
  mail:
    host: smtp.gmail.com
    port: 587
    password: ${SMTP_PASSWD}
    username: ${SMTP_EMAIL}
    properties:
      mail:
        smtp:
          starttls:
            enable: true
          auth: true
  jpa:
    show-sql: false
