<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/loginstyle.css}">
</head>
<body>
<div id="login-box">
    <h2>Aby kontynuować, zaloguj się</h2>
    <form th:action="@{/login}" method="post">
        <div class="user-box">
            <input type="text" name="username" required pattern="^[a-zA-Z0-9.]+[@][a-zA-Z0-9]+[.][a-zA-Z]{1,8}$">
            <label>Email address</label>
        </div>
        <div class="user-box">
            <input type="password" name="password" required>
            <label>Password</label>
        </div>
        <input type="submit" value="Login">
        <div th:if="${param.error}" class="error-message">
            Niepoprawny email lub hasło. Spróbuj ponownie.
        </div>
        <div class="user-login">
            <p><a href="/oauth2/authorization/github">Log via GitHub</a> or <a th:href="@{/register}">Create new account</a></p>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
</div>
</body>
</html>